.card{
    padding: 15px;
}
.card-img-top{
    width: 100%;
    height: 100%;
}
.cartBody{
    width: 100%;
    height: 100vh;
    top: 14%;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 9999;
}
.cart{
   
    position: fixed;
    top: 14%;
    right: 2%;
    padding: 30px;
    background-color: white;
    box-shadow: inset;
    border-radius: 10px;
    border: 1px solid rgb(243, 255, 254) ;
    width: 50%;
}
.remove-btn{
    border: 1px solid #9999;
}
.not-found-text{
    color: blue;
    font-size: 18px;
}
.cartItemBox{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(231, 231, 231) ;
}
.inrease{
    border: none;
    padding: 2px 4px;
    /* background-color: transparent; */
}
.decrease{
    border: none;
    padding: 2px 4px;
    /* background-color: transparent; */
}
.cart_Body{
    width: 100%;
    height: 100vh;
    z-index: 9999;
}
.cart_details{
    width: 70%;
    padding: 30px;
    background-color: white;
    box-shadow: inset;
    border-radius: 10px;
    border: 1px solid rgb(243, 255, 254) ;
    margin: auto;
}
.cart-detals-box{
    width: 50%;
    margin: 100px auto;
}
.cart-box{
   
    margin: 100px auto;
}
.not-found{
    padding: 30px;
    border: gray;
    background-color: lightgray;
    border: 1px solid lightcyan;
    border-radius: 16px;
}
.content{
    padding-left: 16px;
}
.product_img{
    width: 100%;
    height: 200px;
}
/* single-product-page */
.product-img{
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}
 