.card{
    padding: 15px;
}
.card-img-top{
    width: 100%;
    height: 100%;
}
.cartBody{
    width: 100%;
    height: 100vh;
    top: 14%;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    z-index: 9999;
}
.cart{
   
    position: fixed;
    top: 14%;
    right: 2%;
    padding: 30px;
    background-color: white;
    box-shadow: inset;
    border-radius: 10px;
    border: 1px solid rgb(243, 255, 254) ;
    width: 50%;
}
.remove-btn{
    border: 1px solid #9999;
}
.not-found-text{
    color: blue;
    font-size: 18px;
}
.cartItemBox{
    padding: 8px;
    border-radius: 8px;
    border: 1px solid rgb(231, 231, 231) ;
}
.inrease{
    border: none;
    padding: 2px 4px;
    /* background-color: transparent; */
}
.decrease{
    border: none;
    padding: 2px 4px;
    /* background-color: transparent; */
}
.cart_Body{
    width: 100%;
   
    z-index: 9999;
}
.cart_details{
    width: 70%;
    padding: 30px;
    background-color: white;
    box-shadow: inset;
    border-radius: 10px;
    border: 1px solid rgb(243, 255, 254) ;
    margin: 0 0 0 auto;
}
.cart-detals-box{
    width: 50%;
    margin: 100px auto;
}
.cart-box{
   
    margin: 100px auto;
}
.not-found{
    padding: 30px;
    border: gray;
    background-color: lightgray;
    border: 1px solid lightcyan;
    border-radius: 16px;
}
.total-container{
  width: 60%;
}
.cart-total-box{
  border-top:2px solid red ;
}
.content{
    padding-left: 16px;
}
.product_img{
    width: 100%;
    height: 200px;
}
.slide {
  width: 90%;
  border: 1px solid #ebebeb;
  background-color: #ebebeb;
  padding: 16px;
  border-radius: 5px;
  margin: auto;
}
.category-slide {
  width: 90%;
  border: 1px solid #ebebeb;
  background-color: #ebebeb;
  border-radius: 5px;
  margin: auto;
}
.slide-img{
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    padding: 10px;
    background-color: #e5e5e5;

}
.slide-price{
  margin-bottom: 0;
}
.slider-btn{
  background-color: #E3752E;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
}
.view-all-btn-box{
  width: 200px;
  height: 200px;
  margin: 50px auto;
  background-color: #000;
  border-radius: 50%;
}
.view-all-btn{
  display: inline-block;
  margin: 70px 0px 70px 70px;
  color: #fff;
  transition: 0.5s;
}
.view-all-btn:hover{
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}
.slick-prev:before, .slick-next:before {
  font-family: 'slick';
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #161616 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* single-product-page */
.product-img{
    width: 100px;
    margin-top: 5px;
    margin-bottom: 5px;
}
 
/* hero-section https://images.unsplash.com/photo-1438109491414-7198515b166b?q=80&fm=jpg&s=cbdabf7a79c087a0b060670a6d79726c*/
.jumbotron {
    color: white;
    background-image: url("../../public/heroimg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .hero-title{
    color: #000;
  }
  .hero-text{
    color: #000;
  }
  .hero-btn{
    color: #000;
    padding: 10px 16px;
    border: 1px solid #000;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
  }
  .hero-btn:hover{
    color: #fff;
    background-color: #000;
    
  }
  .shop-fluid{
    margin-bottom: 50px;
    margin-top: 20px;
    background: url("../../public/heroimg.jpg") rgba(0, 35, 82, 0.7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
  }
  .Shop-hero-box{
    color: white;
    
    height: 50vh;
    
  }
  .shop-hero-title{
    color: #ffffff;
  }
  .shop-hero-text{
    color: #ffffff;
  }
  .shop-hero-btn{
    color: #ffffff;
    padding: 10px 16px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
  }
  .shop-hero-btn:hover{
    color: #000000;
    background-color: #ffffff;
    
  }
  .search-box{
    padding: 10px 15px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-right: 5px;
  }
  /* category Tab */
  .category-tab{
    margin-top:50px;
    display: flex
  }
  /* product By category */
  .category-product-box{
    width:100%;
    height:100%;
    margin:auto;
    padding-bottom:20px;
  }
  .category-banner-box{
    width:40%;
    height:100%;
    
  }
  .category-product{
    width:60%;
    height:100%;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    padding: 8px;
  }

 
  .cart_detail{
    padding: 30px;
    background-color: white;
    box-shadow: inset;
    border-radius: 10px;
    border: 1px solid rgb(243, 255, 254) ;
    margin: 0 0 0 auto;
    display: flex;
}
.cart-width{
  width: 350px;
}